*{
    box-sizing: border-box;
}
body{
    background-color: black;
}
.grid-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template:
        "g1 g3 g5"
        "g1 g3 g6"
        "g2 g3 g6"
        "g2 g4 g6";
    /*es necesario definir los altos de las filas con la siguiente declaracion*/
    grid-template-rows: 20vh  20vh  20vh  20vh;
    
}

.grid-container .grid-item{
    color:#FFF;
    margin: -5px;
}

.grid-container .grid-item img{
    /*Las siguientes 3 propiedades definen que la imagen llene el espacio disponible, sin haver crecer su contenedor*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-container .grid-item.g1{
    grid-area: g1;
}
.grid-container .grid-item.g2{
    grid-area: g2;
}
.grid-container .grid-item.g3{
    grid-area: g3;
}
.grid-container .grid-item.g4{
    grid-area: g4;
}
.grid-container .grid-item.g5{
    grid-area: g5;
}
.grid-container .grid-item.g6{
    grid-area: g6;
}

/*Definis grids para los breakpoints*/
@media only screen and (max-width : 520px) {
    .grid-container{
        grid-template:
            "g1 g1"
            "g2 g3"
            "g2 g3"
            "g4 g5"
            "g6 g6";
        }

}
@media only screen and (min-width: 520px) and (max-width :1024px) {
    .grid-container{
        grid-template:
            "g1 g1 g2"
            "g1 g1 g2"
            "g3 g4 g4"
            "g3 g4 g4" 
            "g5 g6 g6";
        
}