/*
    REGLA DE CSS

    selector{
        atributo: valor
    }


    border: 1px solid color;

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-size: contain;
    background-image: url(../img/bg-header.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

hr {
    margin: 50px 0;
    border-color: #3a3c3d;
    border-width: thin;
    border-style: solid;
}

header {
    max-width: 935px;
    margin: 0 auto;
}

header h1 img {
    width: 100%;
}

header h1 span {
    display: none;
}

header ul {
    list-style: none;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    float: right;
    width: 130px;
}

header li {
    transition-duration: 500ms;
    margin-left: 0px;
}

header li:hover {
    color: khaki;
    padding-left: 20px;
}

header nav {
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: right;
}

header ul li:nth-child(1) {
    color: #474a4c;
    padding-left: 20px;
}

header ul li:nth-child(1):hover {}

header h1 {
    text-align: right;
    clear: both;
    padding-top: 20px;
}

header h2 {
    text-align: justify;
    text-transform: uppercase;
    text-align: right;
    padding-bottom: 30px;
}

header .line1 {}

header .line2 {
    letter-spacing: 6px;
}

header .line3 {
    letter-spacing: 6px;
}

header .fixedwidth {
    width: 60%;
}

header section {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    color: #4c4c4c;
    padding-bottom: 40px;
}

header article {
    width: 30%;
}

header article i {
    font-size: 4em;
    margin-bottom: 10px;
}

header h3 {
    font-weight: lighter;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

main,
footer {
    background-color: #121a1d;
    color: white;
}

main section,
footer section {
    max-width: 935px;
    margin: 0 auto;
    color: white
}

main h3 {
    padding: 38px 0 30px;
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;

}

main h4 {
    font-weight: lighter;
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

main section {
    display: block;
    text-align: left;
}

main section.article-conainer {
    color: #737373;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

main section.article-conainer article {
    width: 30%;
}

main section.article-conainer article i {
    font-size: 4em;
    margin-bottom: 10px;
}

main section.article-conainer h3 {
    font-weight: lighter;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: white;
}

a.readmore {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    display: block;
}

a.readmore::after {
    content: " >"
}

.grid-container {

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template:
        "g1 g3 g5"
        "g1 g3 g6"
        "g2 g3 g6"
        "g2 g4 g6";
    /*es necesario definir los altos de las filas con la siguiente declaracion*/
    grid-template-rows: 200px 100px 100px 300px;
    grid-template-columns: 33.33% 33.33% 33.33%;


}

.grid-container .grid-item {
    color: #FFF;
    margin: -5px;
}

.grid-container .grid-item img {
    /*Las siguientes 3 propiedades definen que la imagen llene el espacio disponible, sin haver crecer su contenedor*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.grid-container .grid-item.g1 {
    grid-area: g1;
}

.grid-container .grid-item.g2 {
    grid-area: g2;
}

.grid-container .grid-item.g3 {
    grid-area: g3;
}

.grid-container .grid-item.g4 {
    grid-area: g4;
}

.grid-container .grid-item.g5 {
    grid-area: g5;
}

.grid-container .grid-item.g6 {
    grid-area: g6;
}

.signup-container {
    display: flex;
}

.signup-container .legend {
    width: 50%;
    color: #747474;
    text-transform: uppercase;
    font-size: 1.5em;

}

.signup-container .form {
    width: 50%;
}

.signup-container .form input {
    background-color: #121a1d;
    border-style: solid;
    border-top-style: none;
    border-width: thin;
    border-color: #505050;
    padding: 1.2em;
    color: white;
    text-transform: uppercase;
    width: 80%;
    margin-right: 5%;
}

.signup-container .form i {
    font-size: 2em;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: white;
}

footer {}

footer,
footer div,
footer a {
    color: #4f4f4f;
    text-transform: uppercase;
    font-size:.9em;
    padding-bottom: 30px;
}

footer section {
    max-width: 935px;
    margin: 0 auto;
    display: flex;

}
main section.hr{
    padding: 30px 0;
}
footer section div.logo {
    width: 70%;
}
footer section div.address {
    width: 30%;
}

a.tel {
    font-size: 1.5em;
    text-decoration: none;
}
a.tel span{
    color: #747677;
}
.logo img{
    width: 100%;
    max-width: 540px;
}
/*Definis grids para los breakpoints*/


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 520px) {
    header {
        background-size: contain;
    }

    header article {
        width: 100%;
    }

    header section {
        display: -webkit-block;
        display: block;
        width: 80%;
        margin: auto;
    }

    #galeria {
        flex-direction: column;
    }

    #galeria div {
        width: 100%;
    }

    header .fixedwidth {
        width: 100%
    }

    header ul {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    header li {
        padding: 10px;
        border-bottom-style: solid;
        border-bottom-color: chocolate;
        border-bottom-width: thin;
    }

    header li:hover {
        color: khaki;
        margin-left: 0px;
        background-color: chocolate;
    }

    header h1 {
        width: 80% !important;
        margin: auto !important;
    }

    header h2 {
        width: 80% !important;
        margin: auto !important;
    }

    .grid-container {
        grid-template:
            "g1 g1"
            "g2 g3"
            "g2 g3"
            "g4 g5"
            "g6 g6";
    }
    main section.article-conainer {
        display: block;

    }

    main section.article-conainer article {
        width: 100%;
    }

    main section h3 {
        width: 80%;
        margin: auto;
    }

    main section h4 {
        width: 80%;
        margin: auto;
    }

    main section article {
        width: 100%;
        margin: auto;
    }

    main .article-conainer {
        width: 80% !important;
        margin: auto !important;
    }
    .signup-container {
        width: 80% !important;
        margin: auto !important;
        display: block;
    }
    .signup-container .form {
        width: 100%;
    }
    footer section {
        max-width: 80%;
        margin: 0 auto;
        display: block;
    }
    .address, .logo{
        width: 100%!important;
    }

}

@media only screen and (min-width: 520px) and (max-width :1024px) {
    header ul {
        display: flex;
    }

    header .fixedwidth {
        width: 100%
    }

    header section {
        width: 80%;
        margin: auto;
    }

    header h1 {
        width: 80% !important;
        margin: auto !important;
    }

    header h2 {
        width: 80% !important;
        margin: auto !important;
    }

    header ul {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        float: unset;
    }

    header li {
        padding: 10px;
        border-style: solid;
        border-color: chocolate;
        border-width: thin;
        flex-grow: 1;
    }

    header li:hover {
        color: khaki;
        margin-left: 0px;
        background-color: chocolate;
    }

    .grid-container {
        grid-template:
            "g1 g1 g2"
            "g1 g1 g2"
            "g3 g4 g4"
            "g3 g4 g4"
            "g5 g6 g6";

    }

    main section h3 {
        width: 80%;
        margin: auto;
    }

    main section h4 {
        width: 80%;
        margin: auto;
    }

    main section article {
        width: 80%;
        margin: auto;
    }
    main .article-conainer {
        width: 80% !important;
        margin: auto !important;
    }
    .signup-container {
        width: 80% !important;
        margin: auto !important;
    }
    footer section {
        max-width: 80%;
        margin: 0 auto;
    }

}